>Pdb
./2.pdb

>SystemSelection
noh and ((protein) or (resname SAPI))

>NodeSelection
(name CA) or (resname SAPI and name P)


>Clusters
P SAPI name C12 O2 C13 O3 C14 O4 P4 OP42 OP43 OP44 C15 O5 P5 OP52 OP53 OP54 C16 O6 C11 O13 O14 O12 O11 C1 C2 O21 C21 O22 C3 O31 C31 O32
>Restrictions
notSameResidue
notNeighboringCAlpha
notNeighboringPhosphate

